<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include ("./layouts/css/bootstrap")%>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      .blogs-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 20px;
        grid-auto-flow: row;
      }
    </style>
  </head>
  <body>
    <%-include ("./layouts/components/nav")%>
    <div class="container">
      <div class="blogs-container mt-5">
        <% blogs.forEach(blog => { %>
        <div class="card mx-3" style="width: 100%">
          <img
            src="/uploads/<%= blog.coverImage %>"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title"><%= blog.title.slice(0, 35) %>...</h5>
            <a href="/blog/view/<%= blog._id %>" class="btn btn-primary"
              >View full blog</a
            >
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <%-include ("./layouts/js/bootstrap")%>
  </body>
</html>
